# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.venv/

# Datasets
datasets/

# Trained Models
models/*.pth
models/*.pt

# Environment Variables
.env

# VS Code
.vscode/

# Logs
*.log

# Database
*.db

# Streamlit
.streamlit/

# Pytest
.pytest_cache/

# OS
Thumbs.db
.DS_Store